/* navbar{
height: 300px;
} */

/* collapse{
    height: 200px;
} */
/* .cor{
    color: coral;
} */
/* ul{
    list-style-type: none;
} */
/* .About{
    list-style-type: none;
} */

 span.navbar-text{
    color: white;
} 
.img-fluid{
    width: 90%;
}
@media screen and (max-width: 768px) {
    #home{
text-align: center;
    }
}

.hr-line{
    color: white;
}