/* navbar{
height: 300px;
} */

/* collapse{
    height: 200px;
} */
/* .cor{
    color: coral;
} */
/* ul{
    list-style-type: none;
} */
/* .About{
    list-style-type: none;
} */

/* .navbar-text{
    color: white;
} */